@import "../node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
    background-color: #333333;
}

header {
    border-bottom: #505050 1px solid;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 2rem;
}

.mainTitle-icon {
    height: 2rem;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.mainTitle {
    color: #eeeeee;
    font-size: 2.5rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

main {
    display: grid;
    grid-template-columns: 30ch 1fr;
}

.sidebar,
.content {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.sidebar > *,
.content > *{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: clip;
}

.collectionButton {
    position: relative;
    color: #eee;
    border-radius: 0.25rem;
    font-family: inherit;
    display: grid;
    grid-template-columns: 1fr auto;
    transition: color 0.2s ease-in;
    overflow: hidden;
}

.collectionButton:hover {
    color: #333333;
} 

.collectionButton-button,
.collectionButton-deleteButton {
    color: inherit;
    background-color: transparent;
    border: 0px transparent;
    padding: 0.5rem;
}

.collectionButton-button {
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.collectionButton::after,
.collectionButton::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}

.collectionButton::after {
    translate: 100%;
    background-color: #d32f2f;
    transition: translate 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.collectionButton::before {
    translate: -100%;
    background-color: transparent;
    transition: background-color 0.2s ease-ins;
}

.collectionButton:hover::before {
    translate: 0;
    background-color: #eee;
}

.collectionButton:has(.collectionButton-deleteButton:hover) {
    color: #eee;
}

.collectionButton:has(.collectionButton-deleteButton:hover)::after {
    translate: 0;
}


.todoCollection {
    height: 100%;
    padding: 1rem;
    border-right: 1px #505050 solid;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    
}

.projectCollection {
    border-bottom: 1px #505050 solid;
    overflow-y: auto;
}

.projectCollection-addButton {
    border-radius: 0.25rem;
    background-color: rgb(8, 145, 76);
    padding: 0.5rem;
    border: 0px transparent;
    font-family: inherit;
    color: #eee;
    text-align: center;
    display: block;
    inline-size: 100%;
}
