@import "../node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
    background-color: #333333;
}

header {
    border-bottom: #505050 1px solid;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 2rem;
}

.mainTitle-icon {
    height: 2rem;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.mainTitle {
    color: #eeeeee;
    font-size: 2.5rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

main {
    display: grid;
    grid-template-columns: 30ch 1fr;
}

.sidebar,
.content {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.collectionButton {
    position: relative;
    color: #eee;
    border-radius: 0.25rem;
    font-family: inherit;
    display: grid;
    grid-template-columns: 1fr auto;
    transition: color 0.2s ease-in;
    overflow: hidden;
}

.collectionButton:hover {
    color: #333333;
} 

.collectionButton-button,
.collectionButton-deleteButton {
    color: inherit;
    background-color: transparent;
    border: 0px transparent;
    padding: 0.5rem;
}

.collectionButton-deleteButton {
    scale: 125% 100%;
}

.collectionButton-button {
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.collectionButton::after,
.collectionButton::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}

.collectionButton::after {
    translate: 100%;
    background-color: #d32f2f;
    transition: translate 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.collectionButton::before {
    translate: -100%;
    background-color: transparent;
    transition: background-color 0.2s ease-in;
}

.collectionButton:hover::before {
    translate: 0;
    background-color: #eee;
}

.collectionButton:has(.collectionButton-deleteButton:hover) {
    color: #eee;
}

.collectionButton:has(.collectionButton-deleteButton:hover)::after {
    translate: 0;
}


.todoCollection {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    padding: 1rem;
    border-right: 1px #505050 solid;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    
}

.projectCollection {
    border-bottom: 1px #505050 solid;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    overflow-y: auto;
}

.projectCollection-contentHook {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.projectCollection-addButton {
    border-radius: 0.25rem;
    background-color: #08914c;
    padding: 0.5rem;
    border: 0px transparent;
    font-family: inherit;
    color: #eee;
    text-align: center;
    display: block;
    inline-size: 100%;
    position: sticky;
    top:0;
    z-index: 1;
}

.projectCollection-addButton:hover {
    background-color: #09a054;
}

.project {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 1rem;
    height: 100%;
}

.project-header {
    color: #eee;
    font-size: 2rem;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.25rem;
}

.project-nameInput {
    flex: 1 1 auto;
    padding: 0px;
    background-color: transparent;
    border: 0px transparent solid;
    color: inherit;
}

.project-nameInput:read-only {
    cursor: default;
    border: 0px transparent solid;
}

.project-nameInput:focus,
.project-nameInput:hover {
    border-color: gray;
    outline: 0px transparent;
}

.project-deleteButton {
    scale: 125% 100%;
    color: #505050;
}

.project-deleteButton:hover {
    color: #606060;
}

.project-deleteButton,
.project-addButton {
    background-color: transparent;
    border: 0px transparent solid;
}

.project-addButton {
    color: grey;
    margin-top: 1rem;
    padding-left: 1rem;
}

.project-addButton:hover {
    color: #eee;
}

.task-header {
    padding: 0.5rem;
    border-bottom: 1px solid #505050;
    color: #eee;
    display: grid;
    grid-template-areas: 
    "displayToggle doneToggle titleInput prioritySelector deleteButton"
    "displayToggle doneToggle dateInput prioritySelector deleteButton";
    grid-template-columns: auto auto auto auto 1fr;
    grid-auto-rows: 1fr;
    gap: 0.25rem 1rem;
    justify-content: start;
    align-items: center;
}

.task-header > *:last-child {
    justify-self: end;
}

.task-displayToggle {
    grid-area: displayToggle;
    height: 50%;
    appearance: none;
    aspect-ratio: 1/1;
    background-image: url('./assets/displayToggle.svg');
    rotate: 180deg;
    transition: rotate 0.5s cubic-bezier(0.41, 2.03, 0.46, 0.56);
}

.task-displayToggle:checked {
    rotate: 0deg;
}

.task-doneToggle {
    grid-area: doneToggle;
    appearance: none;
    aspect-ratio: 1/1;
    height: 50%;
    border-radius: 25%;
    background-color: #505050;
}

.task-doneToggle:checked:before {
    background-color: grey;
}

.task-titleInput {
    grid-area: titleInput;
    color: inherit;
    border-bottom: 1px solid transparent;
}

.task-dateInput {
    grid-area: dateInput;
    position: relative;
    color: gray;
}

.task-titleInput,
.task-dateInput {
    background-color: transparent;
    border: 0px solid transparent;
}

.task-titleInput:focus {
    outline: 0px transparent;
}

.task-dateInput:focus {
    outline: 0px transparent;
    color: #eee;
}

.task-dateInput:hover {
    color: #eee;
}

.task-dateInput::-webkit-calendar-picker-indicator {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    background: 0 0;
    margin: 0;
    opacity: 0;
    pointer-events: auto;
}

.task-header .prioritySelector {
    grid-area: prioritySelector;
    height: 1rem;
}

.task-deleteButton {
    grid-area: deleteButton;
    background-color: transparent;
    border: 0px solid transparent;
    color: #505050;
    height: fit-content;
    transform: scaleX(120%);
    font-size: 1.2rem;
    padding: 0.25rem;
}

.task-deleteButton:hover,
.task-deleteButton:focus {
    color: #606060;
}

.task-body--hidden {
    display: none;
}

.task-body {
    padding: 1rem 1.5rem 0px 2.5rem;
}

.task-descriptionInput {
    background-color: transparent;
    border: 1px #505050 solid;
    resize: none;
    width: 100%;
    padding: 1rem;
    height: 6rem;
    color: #eee;
}

.task-descriptionInput:focus {
    outline: 0px solid transparent;
}

.prioritySelector {
    display: flex;
    gap: 0.2rem;
}

.prioritySelector-priority {
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
    appearance: none;
    background-color: #505050;
    border-radius: 25%;
    overflow: hidden;
}

.prioritySelector-priority:hover {
    background-color: #606060;
}

.prioritySelector-priority::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    translate: 0% 100%;
    transition: translate .25s ease-in-out;
}

.prioritySelector-priority:checked::before {
    translate: 0%;
}

.prioritySelector-priority[value="High"]::before {
    background-color: #c73c3c;
}

.prioritySelector-priority[value="Medium"]::before {
    background-color: #c79f2c;
}

.prioritySelector-priority[value="Low"]::before {
    background-color: #08914c;
}

.prioritySelector-priority[value="Unset"]::before {
    background-color: grey;
}

.checklist-itemList {
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.checklistItem {
    list-style: none;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-auto-rows: 1fr;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px #505050 solid;
    padding: 0.5rem;
    color: #eee;
}

.checklistItem-descriptionInput {
    background-color: transparent;
    border: 0px transparent solid;
    color: inherit;
}

.checklistItem-descriptionInput:focus {
    outline: 0px transparent solid;
}

.checklistItem-doneToggle {
    appearance: none;
    background-color: #505050;
    border-radius: 25%;
    height: 80%;
    aspect-ratio: 1/1;
}

.checklistItem-doneToggle:hover {
    background-color: #606060;
}

.checklistItem-doneToggle:checked {
    background-color: grey;
}

.checklistItem-deleteButton {
    background-color: transparent;
    border: 0px solid transparent;
    color: #505050;
    transform: scaleX(120%);
    font-size: 1.2rem;
    padding: 0.25rem;
}

.checklistItem-deleteButton:hover,
.checklistItem-deleteButton:focus {
    color: #606060;
}

.checklist-addButton {
    background-color: transparent;
    border: 0px transparent solid;
    color: grey;
    padding: 0px;

}

.checklist-addButton:hover {
    color: #eee;
}

.popUpLayer {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    pointer-events: none;
    z-index: 999;
}

.popUp {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.popUp--clickLocked {
    pointer-events: all;
}

.popUp

.popUp-wrapper {
    position: absolute;
    pointer-events: all;
}

.popUp--topLeft .popUp-wrapper {
    left: 0;
}

.popUp--topMid .popUp-wrapper {
    left: 50%;
    translate: -50% 0%;
}

.popUp--topRight .popUp-wrapper {
    right: 0;
}

.popUp--centerLeft .popUp-wrapper {
    top: 50%;
    left: 0;
    translate: 0% -50%;
}

.popUp--center .popUp-wrapper {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.popUp--centerRight .popUp-wrapper {
    top: 50%;
    right: 0;
    translate: 0% -50%;
}

.popUp--bottomLeft{
    bottom: 0;
    left: 0;
}
.popUp--bottomMid{
    bottom: 0;
    left: 50%;
    translate: -50% 0%;
}

.popUp--bottomRight{
    bottom: 0;
    right: 0;
}

.taskForm {
    background-color: #333;
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    color: #eee;
}

.taskForm-fieldList {
    border: 1px #505050 solid;
    padding: 1rem;
    list-style: none;
    display: grid;
    gap: 0.5rem;
}

.taskForm-field {
    display: grid;
    grid-template-columns: 8rem auto;
    gap: 1rem;
}

.taskForm-label,
.taskForm-text, 
.taskForm-select,
.taskForm-date {
    color: inherit;
    font-family: inherit;
}

.taskForm-text,
.taskForm-select,
.taskForm-date {
    background-color: transparent;
    border: 0px transparent solid;
    border-bottom: 1px solid #505050;
}

.taskForm-text:focus,
.taskForm-text:hover,
.taskForm-select:focus,
.taskForm-select:hover,
.taskForm-date:focus,
.taskForm-date:hover {
    border-color: #eee;
    outline: 0px transparent;
}

.taskForm-select {
    appearance: none;
}

.taskForm-select > option {
    background-color: #505050;
}

.taskForm-button {
    background-color: transparent;
    border: 1px #505050 solid;
    margin-right: 0.2rem;
    padding: 0.5rem;
    color: #505050;
}

.taskForm-button:hover {
    color: #eee;
    border-color: gray;
}